@model List<Group>

@{
    ViewBag.Title = Model[0].Course!.Name;
    Layout = "_Layout";
}

<h2>@Model[0].Course!.Name</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Course</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var group in Model)
    {
        <tr>
            <th scope="row">@group.Id</th>
            <td>@group.Name</td>
            <td>@group.Course!.Name</td>
        </tr>
    }
    </tbody>
</table>